*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
}

.heart{
    position: fixed;
    animation: heart 3s linear forwards;
}

@keyframes heart{
    to{
        transform: translateY(105vh);
    }
}

